.env
config/config.yaml

**/.DS_Store
.idea/
.aws-sam/
.vscode/settings.json
**/.vim/

*.js
!jest.config.js
*.d.ts
node_modules

cdk.out
cdk.context.json
litellm-source

litellm-cdk/resources.txt

**/outputs.json

**/myenv/